<%- include('partials/header.ejs') %>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://wallpapersprinted.com/download/1/the_suicide_squad_2021_movie_poster_hd_the_suicide_squad-1280x720.jpg" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://oyster.ignimgs.com/wordpress/stg.ign.com/2020/12/wallpapersden.com_black-widow-official-poster_1280x720.jpg" class="d-block w-100 img-fluid" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://d1lss44hh2trtw.cloudfront.net/assets/article/2021/04/23/mortal-kombat-movie-review_feature.jpg" class="d-block w-100 img-fluid" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> 

<div class="container p-5">
  <h1 class="display-2 pb-2">MOVIES</h1>
  <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 g-3">
    <% for(i=0;i<=3;i++){ %>
      <div class="col">
        <div class="card h-100">
          <a href="/movies/<%= movies[i]._id%>" class="text-decoration-none">
            <img src="<%= movies[i].image %>" class="card-img-top">
            <div class="card-body text-dark text-center">
              <h5 class="card-title"><%= movies[i].name %></h5>
              <p class="card-text"><%= movies[i].reldate %></p>
            </div>
          </a>
        </div>
      </div>
    <% } %>  
  </div>
  <div class="d-grid gap-2 p-2">
    <a class="btn btn-outline-dark" href="/movies" role="button">See more</a>
  </div>
</div>
<hr class="featurette-divider">

<div class="container p-5">
  <h1 class="display-2 pb-2">PROMOTIONS</h1>
  <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 g-3">
    <% for(i=0;i<=3;i++){ %>  
      <div class="col">
        <div class="card h-100">
          <a href="/promotions/<%= promotions[i]._id%>" class="text-decoration-none">
            <img src="<%= promotions[i].image %>" class="card-img-top">
            <div class="card-body text-dark">
              <h5 class="card-title"><%= promotions[i].title %></h5>
              <p class="card-text text-muted"><%= promotions[i].utldate %></p>
            </div>
          </a>
        </div>     
      </div>
    <% } %>
  </div>
  <div class="d-grid gap-2 p-2">
    <a class="btn btn-outline-dark" href="/promotions" role="button">See more</a>
  </div>
</div>
<hr class="featurette-divider">

<div class="container p-5">
  <h1 class="display-2 pb-2">NEWS</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-3">
    <div class="col">
      <div class="card">
        <a href="https://getbootstrap.com/docs/5.0/components/card/" class="text-decoration-none">
          <img src="https://media.istockphoto.com/vectors/news-flat-vector-icon-symbol-vector-id991002050?k=6&m=991002050&s=612x612&w=0&h=ZrUpgH42NkytglPHv7UEsWe8LoBVzYabM6PSTCtq5nw=" class="card-img-top">
          <div class="card-body text-dark">
            <h5 class="card-title">XXXXXX</h5>
            <p class="card-text">Play 1000 times to get 1 free golden ticket Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a href="https://getbootstrap.com/docs/5.0/components/card/" class="text-decoration-none">
          <img src="https://media.istockphoto.com/vectors/news-flat-vector-icon-symbol-vector-id991002050?k=6&m=991002050&s=612x612&w=0&h=ZrUpgH42NkytglPHv7UEsWe8LoBVzYabM6PSTCtq5nw=" class="card-img-top">
          <div class="card-body text-dark">
            <h5 class="card-title">XXXXXX</h5>
            <p class="card-text">Play 1000 times to get 1 free golden ticket Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a href="https://getbootstrap.com/docs/5.0/components/card/" class="text-decoration-none">
          <img src="https://media.istockphoto.com/vectors/news-flat-vector-icon-symbol-vector-id991002050?k=6&m=991002050&s=612x612&w=0&h=ZrUpgH42NkytglPHv7UEsWe8LoBVzYabM6PSTCtq5nw=" class="card-img-top">
          <div class="card-body text-dark">
            <h5 class="card-title">XXXXXX</h5>
            <p class="card-text">Play 1000 times to get 1 free golden ticket Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <a href="https://getbootstrap.com/docs/5.0/components/card/" class="text-decoration-none">
          <img src="https://media.istockphoto.com/vectors/news-flat-vector-icon-symbol-vector-id991002050?k=6&m=991002050&s=612x612&w=0&h=ZrUpgH42NkytglPHv7UEsWe8LoBVzYabM6PSTCtq5nw=" class="card-img-top">
          <div class="card-body text-dark">
            <h5 class="card-title">XXXXXX</h5>
            <p class="card-text">Play 1000 times to get 1 free golden ticket Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 p-2">
    <a class="btn btn-outline-dark" href="/news" role="button">See more</a>
  </div>
</div>
<%- include('partials/footer.ejs') %>