<%- include('../partials/header.ejs') %>
<script src="/js/imgpreview.js" defer></script>

<br>
<div class="container col-xxl-8 bg-white border shadow rounded-3">
    <form action='/user/<%= user._id %>?_method=PUT' method='POST' enctype="multipart/form-data">     
        <div class="row d-flex justify-content-center py-3">  
            <div class="col-lg-4 text-center">
                <img src="<%= user.profileimg %>" class="rounded-circle py-2" id="preview" width="200px">
                <br><label class="form-label">Profile image</label>
                <input type="file" class="form-control" id="file-input" name='image' accept="image/*">
            </div>  
            <div class="col-10 col-sm-8">
                <div class="row py-2">    
                    <div class="col-md pb-2">
                        <label class="form-label">Firstname</label>
                        <input type="text" class="form-control" name="user[firstname]" value="<%= user.firstname %>" required>
                    </div>
                    <div class="col-md">
                        <label class="form-label">Lastname</label>
                        <input type="text" class="form-control" name="user[lastname]" value="<%= user.lastname %>" required>
                    </div>
                </div>
                <label class="form-label">Email</label>
                <input type="email" class="form-control" name="user[email]" value="<%= user.email %>" required>
                <div class="float-end my-2">
                    <button type="submit" class="btn btn-dark">Submit changes</button>
                    <a href="/user/<%= user._id %>" class="btn btn-outline-dark">Back</a>
                </div>
            </div>   
        </div>
    </form>  
</div>
<%- include('../partials/footer.ejs') %>