<%- include('../partials/header.ejs') %>

<script src="/js/viewinfo.js" defer></script>

<br>
<div class="container col-xxl-8 bg-white border shadow rounded-3">
    <div class="row flex-lg-row justify-content-center py-3">
        <div class="col-lg-4 text-center">
            <img src="<%= user.profileimg %>" class="rounded-circle py-2" width="200px">
            <br><a href="/user/edit/<%= user._id %>" class="btn btn-outline-dark btn-sm">Edit proflie</a>
        </div>  
        <div class="col-10 col-sm-8">
            <div class="py-3">    
                <h2><%= user.firstname + ' ' + user.lastname %></h2>
                <p>
                    <a href="mailto: <%= user.email %>"> <%= user.email %></a>
                </p>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs px-3">
        <li class="nav-item">
            <a class="nav-link text-dark active" id="movhistory" href="#">Movie history</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="likemovie" href="#">Your favourite movie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="mycomment" href="#">My comment</a>
        </li>
    </ul>
    <div class="p-3" id="one">
        <% let billnum = 0; %>
        <% bill.forEach(function(bill){ %>
            <% billnum += 1; %>
            <div class="d-flex shadow-sm rounded p-2">
                <div class="flex-shrink-0">
                    <i class="fas fa-wallet"></i>
                </div>
                <div class="flex-grow-1 ms-3">
                    <div class="dropdown float-end">
                        <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">See info</a></li>
                        </ul>
                    </div>
                    <strong>Bill no : <span><%= billnum %></span></strong>
                    <p>ID : <span><%= bill._id %></span></p>
                </div>
            </div> 
        <% }); %>    
    </div>
    <div class="d-none p-3" id="two">
        <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 g-3">
            <% favourite.forEach(function(ufavourite){ %>
                <% ufavourite.movie.forEach(function(umovie){ %>
                    <% movies.forEach(function(movielist){ %>
                        <% if(umovie.equals(movielist._id)){ %>
                            <div class="col">
                                <div class="card h-100">
                                    <a href="/movies/<%= movielist._id%>" class="text-decoration-none">
                                        <img src="<%= movielist.image %>" class="card-img-top">
                                        <div class="card-body text-dark text-center">
                                            <h5 class="card-title"><%= movielist.name %></h5>
                                            <p class="card-text"><%= movielist.reldate %></p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        <% } %>
                    <% }); %>      
                <% }); %>    
            <% }); %>
        </div>
        <br>
    </div>
    <div class="d-none p-3" id="three">
        <% comments.forEach(function(comment){ %>
            <% movies.forEach(function(movie){ %>
                <% movie.comments.forEach(function(comments){ %>
                    <% if(comments._id.equals(comment._id)){ %>
                        <div class="d-flex shadow-sm rounded p-2">
                            <div class="flex-shrink-0">
                                <i class="fas fa-comment"></i>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <div class="dropdown float-end">
                                    <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="/movies/<%= movie._id %>">See from movie page</a></li>
                                        <li><a class="dropdown-item" href="/movies/<%= comment._id %>/edit">Edit - Delete</a></li>
                                    </ul>
                                </div>
                                <div class="d-flex">
                                    <strong><%= comment.author.username + ' : ' %></strong>
                                    <p class="px-2"><%= comment.text %></p>
                                </div>
                            </div>
                        </div> 
                    <% } %>  
                <% }); %>       
            <% }); %>           
        <% }); %>
    </div>
</div>

<%- include('../partials/footer.ejs') %>