<%- include('../partials/header.ejs') %>

<br>
<div class="container col-xxl-8 bg-white border shadow rounded-3">
    <div class="row flex-lg-row-reverse align-items-center g-5 p-3">
      <div class="col-lg-6">
        <h3 class="display-5 mb-3"><%= movies.name %></h3>
        <div class="px-1 py-1">    
            <p><span class="text-primary">Genre: </span><%= movies.genre %></p>
            <p><span class="text-primary">Rate: </span><%= movies.rate %></p>
            <p><span class="text-primary">Duration: </span><%= movies.duration %></p>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/movies/showtime/<%= movies._id%>" class="btn btn-dark px-4 me-md-2">Check the available cinemas</a>
            <% if(favourite != null){ %>
                <form action="/movies/<%= movies._id %>/favourite?_method=DELETE" method="POST" id="deleteform">
                    <input type="hidden" class="form-control" name='movies[movie]' value="<%= movies._id %>">
                    <button type="submit" class="btn btn-danger" id="deletebutton"><i class="far fa-heart"></i> Remove from favourite</button>
                </form>
            <% } else {%>    
                <form action='/movies/<%= movies._id %>/favourite' method='POST' id="postform">
                    <button type="submit" class="btn btn-danger" id="postbutton"><i class="far fa-heart"></i> Add to favourite</button>
                </form>
            <% } %>
        </div>
      </div>
      <div class="col-10 col-sm-8 col-lg-6 image-box">
        <img src="<%= movies.image %>" class="d-block mx-lg-auto img-fluid shadow" alt="Movie Image" width="300" height="300" loading="lazy">
      </div>
    </div>
</div>
<br>

<div class="container col-xxl-8 bg-white border shadow rounded-3">
    <div class="row flex-lg-row align-items-center p-3">
        <div class="col-lg-6">
            <h3 class="display-3">SYNOPSIS :</h3>
        </div>  
        <div class="col-10 col-sm-8 col-lg-6">
            <div class="px-1 py-1">    
                <p class="fs-6"><%= movies.desc %></p>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container col-xxl-8 bg-white border shadow rounded-3">
    <div class="row flex-lg-row align-items-center p-3">
        <div class="col-lg-6">
            <h3 class="display-3">TRAILER :</h3>
        </div>  
        <div class="col-10 col-sm-8 col-lg-6">
            <div class="ratio ratio-16x9">
                <iframe src="<%= movies.trailer %>" title="YouTube video" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<br>

<div class="container col-xxl-8 bg-white border shadow rounded-3">
    <div class="p-3">
        <h3 class="display-3">COMMENTS :</h3>
        <hr class="featurette-divider">
        <% movies.comments.forEach(function(comment){ %>
        <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="<%= comment.author.profileimg %>" class="rounded-circle" width="50px">
            </div>
            <div class="flex-grow-1 ms-3">
                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                    <div class="dropdown float-end">
                        <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="/movies/<%= comment._id %>/edit">Edit-delete</a></li>
                        </ul>
                    </div>
                <% } else { %>
                    <div class="dropdown float-end">
                        <button class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" disabled>
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="/movies/<%= comment._id %>/edit">Edit-delete</a></li>
                        </ul>
                    </div>
                <% } %>        
                <strong><%= comment.author.username + ' : ' %></strong>
                <p><%= comment.text %></p>
            </div>
        </div>   
        <% }); %>

        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Add a comment</button>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Add a comment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form action='/movies/<%= movies._id %>' method='POST'>
                        <input type="text" class="form-control" name='comment[text]' placeholder='Comment' required>
                        <div class="modal-footer float-end">
                            <button type="submit" class="btn btn-dark">Add</button>
                        </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>  
</div>
<br>

<%- include('../partials/footer.ejs') %>