<%- include('../partials/header.ejs') %>
<br>
<div class="container col-xxl-8 bg-white border shadow rounded-3">
    <div class="row flex-lg-row-reverse align-items-center g-5 p-3">
      <div class="col-lg-6">
        <h3 class="display-5 mb-3"><%= movies.name %></h3>
        <div class="px-1 py-1">    
            <p><span class="text-primary">Genre: </span><%= movies.genre %></p>
            <p><span class="text-primary">Rate: </span><%= movies.rate %></p>
            <p><span class="text-primary">Duration: </span><%= movies.duration %></p>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/movies/<%= movies._id%>" class="btn btn-dark btn-lg px-4 me-md-2">See movie details</a>
        </div>
      </div>
      <div class="col-10 col-sm-8 col-lg-6 image-box">
        <img src="<%= movies.image %>" class="d-block mx-lg-auto img-fluid shadow" alt="Movie Image" width="300" height="300" loading="lazy">
      </div>
    </div>
</div>
<br>
<% theatre.forEach(function(theatre){ %>
    <% theatre.movie.forEach(function(movie){ %>    
        <% if(movie.name == movies.name){ %>    
            <% theatre.cinema.forEach(function(cinema){ %>
                <div class="container col-xxl-8 bg-white border shadow rounded-3">
                    <h4 class="py-3 text-primary"><i class="fas fa-map-marker-alt"></i> <%= cinema.name %></h4>
                    <div class="row flex-lg-row align-items-center p-3">
                        <div class="col-lg-2">
                            <h5>Digital Cinema</h5>
                        </div>  
                        <div class="col border-start">
                            <div class="px-1 py-1">    
                                <p class="fs-6"><i class="fas fa-volume-up"></i> ENG</p>
                                <% theatre.showtime.forEach(function(showtime){ %>
                                    <% let currentDate = new Date(); %>
                                    <% let showtimeDate = new Date(currentDate.getMonth()+"-"+currentDate.getDate()+"-"+currentDate.getFullYear()+" "+showtime); %>
                                    <% currentDate.setHours(currentDate.getHours() + 7); %>
                                    <% showtimeDate.setHours(showtimeDate.getHours() + 7); %>
                                    <% showtimeDate.setMonth(showtimeDate.getMonth() + 1); %>
                                    <% if(currentDate >= showtimeDate){ %>
                                        <a href="#" class="btn btn-dark disabled" type="button"><%= showtime %></a>
                                    <% } else { %>
                                        <a href="#" class="btn btn-dark" type="button"><%= showtime %></a>
                                    <% } %>
                                <% }); %>
                            </div>
                        </div>      
                    </div>
                </div>
                <br>    
            <% }); %>   
        <% } %>
    <% }); %>    
<% }); %>     
    <!-- <div class="row flex-lg-row align-items-center p-3">
        <div class="col-lg-2">
            <h5>IMAX</h5>
        </div>  
        <div class="col border-start">
            <div class="px-1 py-1">    
                <p class="fs-6"><i class="fas fa-volume-up"></i> ENG</p>
                <a href="#" class="btn btn-dark" type="button">17.40</a>
                <a href="#" class="btn btn-dark" type="button">19.40</a>
                <a href="#" class="btn btn-dark" type="button">20.40</a>
            </div>
        </div>
    </div> -->
<%- include('../partials/footer.ejs') %>