<%- include('../partials/header.ejs') %>
<script src="/js/sortBygenre.js" defer></script>

<div class="container p-5">
    <h1 class="display-2 text-center p-5">NOW SHOWING</h1>
    <div class="d-flex">  
        <div class="btn-group py-3">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sort by...
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/movies/sortByname">Name</a></li>
                <li><a class="dropdown-item" href="/movies/sortByrate">Rate (13 to 18)</a></li>
                <li><a class="dropdown-item" href="/movies/sortBygenre">Genre</a></li>
            </ul>
        </div>
        <div class="btn-group p-3">
            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Genre...
            </button>
            <ul class="dropdown-menu">
                <li><button class="dropdown-item" id="actionb">Action</button></li>
                <li><button class="dropdown-item" id="thrillerb">Thriller</button></li>
                <li><button class="dropdown-item" id="scifib">Sci-Fi</button></li>
                <li><button class="dropdown-item" id="adventureb">Adventure</button></li>
                <li><button class="dropdown-item" id="comedyb">Comedy</button></li>
            </ul>
        </div>
    </div>      
    <h1 class="display-4 p-2" id="action">- Action</h1>
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3 py-2">
        <% movies.forEach(function(movie){ %>
            <% if(movie.genre.includes("Action")){ %>    
                <div class="col">
                <div class="card h-100">
                    <a href='/movies/<%= movie._id%>' class="text-decoration-none">
                    <img src="<%= movie.image %>" class="card-img-top">
                    <div class="card-body text-dark text-center">
                        <h5 class="card-title"><%= movie.name %></h5>
                        <p class="card-text"><%= movie.reldate %></p>
                    </div>
                    </a>
                </div>
                </div>
            <% } %>
        <% }); %> 
    </div>
    <h1 class="display-4 p-2" id="thriller">- Thriller</h1>
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3 py-2">
        <% movies.forEach(function(movie){ %>
            <% if(movie.genre.includes("Thriller")){ %>    
                <div class="col">
                <div class="card h-100">
                    <a href='/movies/<%= movie._id%>' class="text-decoration-none">
                    <img src="<%= movie.image %>" class="card-img-top">
                    <div class="card-body text-dark text-center">
                        <h5 class="card-title"><%= movie.name %></h5>
                        <p class="card-text"><%= movie.reldate %></p>
                    </div>
                    </a>
                </div>
                </div>
            <% } %>
        <% }); %> 
    </div>
    <h1 class="display-4 p-2" id="scifi">- Sci-Fi</h1>
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3 py-2">
        <% movies.forEach(function(movie){ %>
            <% if(movie.genre.includes("Sci-Fi")){ %>    
                <div class="col">
                <div class="card h-100">
                    <a href='/movies/<%= movie._id%>' class="text-decoration-none">
                    <img src="<%= movie.image %>" class="card-img-top">
                    <div class="card-body text-dark text-center">
                        <h5 class="card-title"><%= movie.name %></h5>
                        <p class="card-text"><%= movie.reldate %></p>
                    </div>
                    </a>
                </div>
                </div>
            <% } %>
        <% }); %> 
    </div>
    <h1 class="display-4 p-2" id="adventure">- Adventure</h1>
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3 py-2">
        <% movies.forEach(function(movie){ %>
            <% if(movie.genre.includes("Adventure")){ %>    
                <div class="col">
                <div class="card h-100">
                    <a href='/movies/<%= movie._id%>' class="text-decoration-none">
                    <img src="<%= movie.image %>" class="card-img-top">
                    <div class="card-body text-dark text-center">
                        <h5 class="card-title"><%= movie.name %></h5>
                        <p class="card-text"><%= movie.reldate %></p>
                    </div>
                    </a>
                </div>
                </div>
            <% } %>
        <% }); %> 
    </div>
    <h1 class="display-4 p-2" id="comedy">- Comedy</h1>
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 g-3 py-2">
        <% movies.forEach(function(movie){ %>
            <% if(movie.genre.includes("Comedy")){ %>    
                <div class="col">
                <div class="card h-100">
                    <a href='/movies/<%= movie._id%>' class="text-decoration-none">
                    <img src="<%= movie.image %>" class="card-img-top">
                    <div class="card-body text-dark text-center">
                        <h5 class="card-title"><%= movie.name %></h5>
                        <p class="card-text"><%= movie.reldate %></p>
                    </div>
                    </a>
                </div>
                </div>
            <% } %>
        <% }); %> 
    </div>
</div>
<%- include('../partials/footer.ejs') %>